:root {
  --main-color: #111517;
  --main-bg: #fff;
  --main-hero-bg: #fafafa;
}

.mode {
  --main-color: #fff;
  --main-bg: #2b3844;
  --main-hero-bg: #202c36;
}

/*** GENERAL CSS ***/
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}
/*** GENERAL END ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dark-mode button {
  outline: none;
  background-color: var(--main-bg);
}

.site-header {
  background-color: var(--main-bg);
}

.site-header__inner h2 {
  color: var(--main-color);
}

.dark-mode button {
  color: var(--main-color);
}

.burg {
  background-color: var(--main-hero-bg);
}

.spans {
  display: inline;
  background: var(--main-bg);
  border-radius: 6px;
  padding: 5px;
}

em {
  color: var(--main-color);
}

.back {
  margin-left: 5px;
  padding: 20px 20px 20px 0;
  text-decoration: none;
  color: var(--main-color);
}

.info__tab li {
  padding: 2px;
}

.info__tab img {
  border-radius: 10px;
}

.borders li:nth-child(1) {
  margin-left: 10px;
}

.borders li {
  padding: 5px;
  border: 1px solid #979797;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  display: inline;
}

.info {
  height: 100vh;
  background-color: var(--main-hero-bg);
}

.info__tab li,
h2 {
  color: var(--main-color);
}

strong {
  color: var(--main-color);
}
